export VRF_NODE_MIGRATIONS_DIR="./migrations"

export VRF_NODE_CHAIN_ID=17000
export VRF_NODE_CHAIN_RPC="https://ethereum-holesky-rpc.publicnode.com"
export VRF_NODE_STARTING_HEIGHT=3770918
export VRF_NODE_CONFIRMATIONS=3
export VRF_NODE_MAIN_LOOP_INTERVAL=1s
export VRF_NODE_BLOCKS_STEP=2
export VRF_NODE_EVENT_LOOP_INTERVAL=5s
export VRF_NODE_CALL_LOOP_INTERVAL=5s
export VRF_NODE_PRIVATE_KEY=$priveteKey
export VRF_NODE_DAPPLINK_VRF_ADDRESS=0xd7aa231a3470668ac46abfc63b46ddc81df4727f
export VRF_NODE_DAPPLINK_VRF_FACTORY_ADDRESS=0xEd3d1EAE2Ea3A8Fa11a490157afCf6051EA98E49
export VRF_NODE_CALLER_ADDRESS=0xE2794a77096E58297aed14EeC434A72eCd6353A8

export VRF_NODE_NUM_CONFIRMATIONS=3
export VRF_NODE_SAFE_ABORT_NONCE_TOO_LOW_COUNT=3
export VRF_NODE_MNEMONIC="test test test test test test test test test test test test"
export VRF_NODE_CALLER_HD_PATH=""
export VRF_NODE_PASSPHRASE=""

export VRF_NODE_SLAVE_DB_ENABLE=false

export VRF_NODE_MASTER_DB_HOST="127.0.0.1"
export VRF_NODE_MASTER_DB_PORT=5432
export VRF_NODE_MASTER_DB_USER="guoshijiang"
export VRF_NODE_MASTER_DB_PASSWORD=""
export VRF_NODE_MASTER_DB_NAME="vrf_node"

export VRF_NODE_SLAVE_DB_HOST="127.0.0.1"
export VRF_NODE_SLAVE_DB_PORT=5432
export VRF_NODE_SLAVE_DB_USER="guoshijiang"
export VRF_NODE_SLAVE_DB_PASSWORD=""
export VRF_NODE_SLAVE_DB_NAME="vrf_node"
